


   
  /* Estilos generales */

  * {
    margin: 0;
    box-sizing: border-box;
  }
  

   body {
    display: flex;
    
  
    background-color: #f5efef;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  main {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    
    text-align: center;
  }
  .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5efef;
    max-width: 50%;
    border-style: solid;
    border-color: rgb(9, 9, 105);
    box-decoration-break: clone;
  
  }
  .msg-error{
    color: var(--color-secondary);
    font-size: 0.8rem;
    font-weight: bold;
    text-align: end;
    width: 90%;
}

  
  h2 {
    margin-bottom: 20px;
    color: #333333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: #333333;
    text-align: left;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    padding: 10px;
    background-color: rgb(9, 9, 105);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: rgb(7, 7, 84);
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    main {
      width: 90%;
    }
  }