<footer class="row flex-column mx-auto flex-md-row bg-secondary text-white mt-5">
  <section class="col-12 col-md-3 p-3">
    <div class="tienda">
      <h4>Tienda</h4>
      <ul>
        <li><a>Guia de regalos</a></li>
        <li><a>Nuevos diseños</a></li>
        <li><a>Descuentos</a></li>
        <li><a>Unete a nustra comunidad</a></li>
      </ul>
    </div>
  </section>
  <section class="col-12 col-md-3 p-3">
    <div class="Quienes">
      <h4>Quienes somos</h4>
      <ul>
        <li>
          <a>Programa de asociados</a>
        </li>
        <li> <a>Trabaja con nosotros</a></li>
        <li><a>Afiliados</a></li>
        <li> <a>Responsabilidad social</a></li>
      </ul>
    </div>
  </section>
  <section class="col-12 col-md-3 p-3">
    <div class="Ayuda">
      <h4>Ayuda</h4>
      <ul>
        <li> <a>Envios</a></li>
        <li> <a>Devoluciones</a></li>
        <li> <a>Contactos</a></li>
        <li> <a>Centro de ayudas</a></li>
      </ul>
    </div>
  </section>
  <section class="col-12 col-md-3 p-3">
    <div class="Redes">
      <h4>Seguinos en las redes</h4>
      <ul >
        <li><i class="fa-brands fa-facebook"></i> <a class="text-white" href="facebook">facebook</a></li>
        <li><i class="fa-brands fa-instagram"></i> <a class="text-white" href="instagram">Instagram</a></li>
        <li><i class="fa-brands fa-twitter"></i> <a class="text-white" href="twitter">twitter</a></li>
        <li><i class="fa-brands fa-youtube"></i> <a class="text-white" href="youtube">youtube</a></li>
      </ul>
    </div>
    </section>
    <section class="col-12 d-flex justify-content-center bg-dark py-2">
      <p>&copy; 2024 Tienda de Ropa Developer. Todos los derechos reservados.</p>
    </section>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
